.article
  .top
    .top__img 
    .user-name
      USER-NAME
    .evaluation
      %span 評価35
      %span 出品数37
  .frame
    .iine.clearfix
      .iine__box
        = icon('fas', 'laugh', class: "icon-1")
        .iine__box__right
          35
      .iine__box
        = icon('fas', 'meh', class: "icon-2")
        .iine__box__right
          35
      .iine__box
        = icon('fas', 'tired', class: "icon-3")
        .iine__box__right
          35
  .user-text
    説明文説明文説明文説明文説明文説明文
    %br 説明文説明文説明文説明文説明文説明文
    %br 説明文説明文説明文説明文説明文
    %br 説明文説明文説明文説明文説明文
    %br 説明文説明文説明文説明文説明文
    %br 説明文説明文説明文説明文説明文
    %br 説明文説明文説明文説明文説明文


    
