.header
  .header__box
    .header__box__main
      .header__box__main__icon
        = link_to "/",class: "header__box__main__icon--image" do
          =image_tag "logo.png",class:"header__box__main__icon--image--logo"
      .header__box__main__searchbox
        = form_with url: search_posts_path, local: true, method: :get, class:"header__box__main__searchbox__form" do |f|
          = f.text_field :keyword, id:'searchInput', class:'header__box__main__searchbox__form--input', name:'key' ,placeholder: "キーワードから探す"
          = f.submit "", class:"header__box__main__searchbox__form__submit"
    .header__box__nav
      %ul.header__box__nav__listleft
        %li=link_to "カテゴリー" , "" , class:"header__box__nav__listleft__categories" 
        %li=link_to "ブランド" , "#" , class:"header__box__nav__listleft__brand"
        .header__box__nav__listleft__lookfor
          %ul.header__box__nav__listleft__lookfor__tree
            %li.header__box__nav__listleft__lookfor__tree--item
      %ul.header__box__nav__listright
        - if user_signed_in? 
          %li=link_to "マイページ",users_path(current_user.id),class:'header__box__nav__listright__login' 
        - else
          %li=link_to "ログイン",new_user_session_path,class:'header__box__nav__listright__login' 
          %li=link_to '新規会員登録',new_user_registration_path,class:'header__box__nav__listright__new'
  