.sidebar
  %nav.sidebar__nav
    %ul.sidebar__nav__list
      %li.sidebar__nav__list__box
        マイページ
        %span >
      %li.sidebar__nav__list__box
        お支払い方法登録
        %span >
      %li.sidebar__nav__list__box
        ログアウト
        %span >