%aside.appbanner
  .appbanner__content
    %h2.appbanner__content__title だれでもかんたん、人生を変えるフリマアプリ
    %p.appbanner__content__text 今すぐ無料ダウンロード！
  .appbanner__image
    %img{:src => "assets/bg-appBanner-pict.jpg"}/
    -# .appbanner__text__icon
    -#   =link_to "#"
    -#     %img.appbanner__text__icon--apple{:src => "assets/icon-search 1.png"}/
    -#   =link_to "#"
    -#     %img.appbanner__text__icon--google{:src => "assets/icon-search 1.png"}/