%aside.appbanner
  .appbanner__content
    %h2.appbanner__content__title だれでもかんたん、人生を変えるフリマアプリ
    %p.appbanner__content__text 今すぐ無料ダウンロード！
    .appbanner__content__btn
      =link_to "#",class:"appbanner__content__btn--apple" do
        =image_tag "app_logo_apple.png",class:"apple"
      =link_to "#",class:"appbanner__content__btn--google" do
        =image_tag "google-play-badge.png",class:"google"

 