-# .footer
-#   %ul.contents
-#     %li.content
-#       %h2.content__heading
-#         FURIMAについて
-#       %ul.content__main
-#         %li=link_to "プライバシーポリシー", "#"
-#         %li=link_to "FURIMA利用規約", "#"
-#         %li=link_to "ポイントに関する規約", "#" 
-#     %li.content
-#       %h2.content__heading
-#         FURIMAを見る
-#       %ul.content__main
-#         %li=link_to "カテゴリー一覧", "#"
-#         %li=link_to "ブランド一覧", "#"
-#     %li.content
-#       %h2.content__heading
-#         ヘルプ＆ガイド
-#       %ul.content__main
-#         %li=link_to "FURIMAガイド", "#"
-#         %li=link_to "FURIMAロゴ利用ガイドライン", "#"
-#         %li=link_to "お知らせ", "#" 
-#   .footer__logo
-#     %img{:src => "assets/logo-white.png"}/
-#   %p.footer__text
-#     © FURIMA