.footer
  %ul.contents
    %li.content
      %h2.content__heading
        FURIMAについて
      %ul.content__main
        %li=link_to "プライバシーポリシー", "#"
        %li=link_to "FURIMA利用規約", "#"
        %li=link_to "ポイントに関する規約", "#" 
    %li.content
    %li.content
  .footer__logo
  %p.footer__text
    © FURIMA