.main
  -# <section1つめ>
  %section.main__top
    .main__top__content
    .main__top__image

  -# <section2つめ>
  %section.main__reason
    %h2.main__reason__title
      FURIMAが選ばれる3つの理由
    %ul.main__reason__lists
      %li.main__reason__lists--list
        .main__reason__lists--list__image
          %span.number 1
          %img{:src => "assets/pict-reason-01.jpg"}/
        %h3.main__reason__lists--list__text
          %span 3分 
          ですぐに出品
        %p.main__reason__lists--list__description
          スマホで入力するだけで簡単に出品できる！
      %li.main__reason__lists--list
        .main__reason__lists--list__image
          %span.number 2
          %img{:src => "assets/pict-reason-02.jpg"}/
        %h3.main__reason__lists--list__text
          %span シンプル 
          で使いやすい
        %p.main__reason__lists--list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.main__reason__lists--listright
        .main__reason__lists--listright__image
          %span.number 3
          %img{:src => "assets/pict-reason-03.jpg"}/
        %h3.main__reason__lists--listright__text
          手数料 
          %span 業界最安
        %p.main__reason__lists--listright__description
          最大3%でお得に出品&購入！

  -# <section3つめ>
  %section.main__middle
    
  -# <section4つめ>
  %section.main__key
  -# <section5つめ>
  %section.main__pickup
  -# <section6つめ>
  %section.main__pickup
