.article.cards
  .cards__title
    支払い方法
  .cards__content
    .framing
      .item
        %label.item__title
          カード番号
        %span.item__conditions
          必須
      .inputbox
        %input.inputbox__area
        = image_tag "credit_logo.png", size: "400x40", class: "visa"
    .framing
      .item
        %label.item__title
          有効期限
        %span.item__conditions
          必須
      .inputbox
        %select.inputbox__area.expiration
        月
        %select.inputbox__area.expiration
        年
    .framing
      .item
        %label.item__title
          セキュリティコード
        %span.item__conditions
          必須
      .inputbox
        %input.inputbox__area
    .cards__content__area
      .cards__content__area__btn
        登録する