.exhibit-wrapper
  .exhibit-header
    .exhibit-header__rogo
      = link_to "#"class

  .exhibit-container
    .exhibit-img
      .exhibit-img__ttl
      .exhibit-img__info
      .exhibit-img__box
    
    .exhibit-item
      .exhibit-item__name
        .exhibit-item__name__box
      .exhibit-item__explanation
        .exhibit-item__explanation__box
    
    .exhibit-detail
      .exhibit-detail__ttl
      .exhibit-detail__category
        .exhibit-detail__category__box
      .exhibit-detail__brand
        .exhibit-detail__brand__box
      .exhibit-detail__status
        .exhibit-detail__status__box
    
    .exhibit-delivery
      .exhibit-delivery__ttl
      .exhibit-delivery__payment
        .exhibit-delivery__payment__box
      .exhibit-delivery__prefecture
        .exhibit-delivery__prefecture__box
      .exhibit-delivery__days
        .exhibit-delivery__days__box
        
    .exhibit-price
      .exhibit-price__info
      .exhibit-price__ttl
        .exhibit-price__ttl__box
      .exhibit-price__commission
      .exhibit-price__profit
      .exhibit-submit-btn
      .exhibit-back-btn
      .exhibit-txt
  
  .exhibit-footer
    .exhibit-footer__list
    .exhibit-footer__icon