.exhibit-container
  テスト
  .exhibit-header
    .exhibit-header__rogo
  .exhibit-img
    .exhibit-img__ttl
    .exhibit-img__info
    .exhibit-img__box
    .exhibit-img__error
  .exhibit-item
    .exhibit-item__name
      .exhibit-item__name__box
    .exhibit-item__explanation
      .exhibit-item__explanation__box

    