= render "shared/header"

%section.main__pickup
  %h2.main__pickup__title 検索結果
  .main__pickup__box
    .main__pickup__box__head
    .main__pickup__box__lists
      - @items.each do |item|
        - item.item_images.first(1).each do |img|
          .main__pickup__box__lists__list
            =link_to post_path(item),class: "main__pickup__box__lists__list__box" do
              %figure.main__pickup__box__lists__list__box--image
                =image_tag img.item_image.url,class:"pickup__image"
              .main__pickup__box__lists__list__box--text
                %h3.main__pickup__box__lists__list__box--text--name 
                  = item.name
                .details
                  %ul.details__price
                    %li 
                      = item.price.to_s(:delimited)
                      円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p.details__text (税込)
              -if item.buyer_id.present? 
                .items-box_photo__sold
                  .items-box_photo__sold__inner
                    SOLD

= render "shared/footer"
        