@mixin exhibit-content {
  padding: 40px;
  border: solid 1px rgb(245, 245, 245);
}
@mixin exhibit-box {
  height: 48px;
  width: 100%;
  padding: 0 16px;
  margin: 16px 0px;
  color: #000;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}
@mixin ttl-text {
  float: left;
  margin-right: 10px;
  font-weight: 700;
}
@mixin ttl-tag {
  padding: 0 4px;
  display: inline-block;
  font-weight: 600;
  line-height: 1.4em;
  background-color:rgb(255, 0, 0);
  color: #fff;
  font-size: 12px;
}

.exhibit-wrapper{
  position: relative;
  height: 2300px;
  background-color:  rgb(245, 245, 245);
  font-size: 14px;
  .exhibit-header{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 128px;
    -webkit-box-pack: center;
    justify-content: center;
    &__rogo{
      width: 210px;
      height: 60px;
    }
  }
  .exhibit-container{
    background-color: rgb(255, 255, 255);
    width: 700px;
    margin: auto;
  }
    .exhibit-img{
      @include exhibit-content();
      position: relative;
      &__ttl{
        &__text{
          @include ttl-text();
        }
        &__tag{
          @include ttl-tag();
        }
      }
      &__info{
        margin : 16px 0px;
      }
      &__box{
        height: 30px;
        background-color:olive;
        &__select{
          background-color: rgb(245, 245, 245);
          height: 150px;
          width: 100%;
          border-width: 1px;
          border-style: dashed;
          border-color: rgb(204, 204, 204);
          border-image: initial;
        }
        &__icon{
          position: absolute;
          color:rgb(34, 34, 34);
          font-size: 20px;
          height: 24px;
          margin-bottom: 8px;
          width: 24px;
          top: 160px;
          left: 340px;
        }
      }
    }
    .exhibit-item{
      @include exhibit-content();
      &__ttl{
        &__text{
          @include ttl-text();
        }
        &__tag{
          @include ttl-tag();
        }
      }
      &__name-box{
        @include exhibit-box();
      }
      &__explanation{
      }
      &__explanation-box{
        height: 150px;
        width: 100%;
        margin: 16px 0px;
        padding: 13px 16px;
        box-sizing: border-box;
      }
      &__explanation-count{
        float: right;
      }
    }
    .exhibit-detail{
      @include exhibit-content();
      &__ttl{
        color: #888888;
        margin-bottom: 16px;
      }
      &__category{
        &__text{
          @include ttl-text();
        }
        &__tag{
          @include ttl-tag();
        }
      }
      &__category-box{
        @include exhibit-box();
      }
      &__brand{
        &__text{
          @include ttl-text();
        }
        &__tag{
          @include ttl-tag();
          background-color: #BFBFBF;
        }
      }
      &__brand-box{
        @include exhibit-box();
      }
      &__status{
        &__text{
          @include ttl-text();
        }
        &__tag{
          @include ttl-tag();
        }
      }
      &__status-box{
        @include exhibit-box();
      }
    }
    .exhibit-delivery{
      @include exhibit-content();
      &__ttl{
        color: #888888;
        margin-bottom: 16px;
      }
      &__payment{
        &__text{
          @include ttl-text();
        }
        &__tag{
          @include ttl-tag();
        }
      }
      &__payment-box{
        @include exhibit-box();
      }
      &__prefecture{
        &__text{
          @include ttl-text();
        }
        &__tag{
          @include ttl-tag();
        }
      }
      &__prefecture-box{
        @include exhibit-box();
      }
      &__days{
        &__text{
          @include ttl-text();
        }
        &__tag{
          @include ttl-tag();
        }
      }
      &__days-box{
        @include exhibit-box();
      }
    }
    .exhibit-price{
      @include exhibit-content();
      &__info{
        color: #888888;
        margin-bottom: 16px;
      }
      &__ttl{
        display: flex;
        &__text{
          @include ttl-text();
          height: 16px;
        }
        &__tag{
          @include ttl-tag();
        }
        &__ttl-box{
        @include exhibit-box();
        }
      }
      &__commission{
      }
      &__profit{
      }
      
      .exhibit-submit-btn{
        height: 48px;
        width: 60%;
        font-weight: 700;
        margin-top: 30px;
        margin-left: 20%;
        background-color: rgb(8, 214, 214);
        color: #ffffff;
      }
      .exhibit-back-btn{
        height: 48px;
        width: 60%;
        font-weight: 700;
        margin-top: 14px;
        margin-left: 20%;
        background-color: #CCCCCC;
      }
      .exhibit-txt{
        margin-top: 16px;
      }
    }
  .exhibit-footer{
    margin-top: 50px;
    width: 100%;
    .exhibit-footer__list{
      align-items: center;
      display: flex;
      -webkit-justify-content: center;
      &__txt{
      margin: 0px 30px;
      }
    }
    .exhibit-footer__icon{
    }
  }
}